# Token
telegram.token=1462150365:******************ZF***************
# Channel name. Starts from @.
# Here you can specify a channel id, but Attention! The channel id must be a negative number (commonly 13 digits)
#telegram.channel.name=@yourChannelName
telegram.channel.name=-100008608699
telegram.bot.name=YourBotBot
